@import '../../scss/colors';
@import '../../scss/mixins';

.footer {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: center;
  
}