@import '../../scss/colors';
@import '../../scss/mixins';

.scrollable {
  background-color: $white;
  height: 100%;
  overflow: scroll;
  overflow-wrap: break-word;
  padding: 16px;
  width: $mobile-width; 
}