$black: #000000;
$button-shadow: rgba(0,0,0,.25);
$grey: #574371;
$red: #711204;
$header-background: #50aadd;
$header-shadow: rgba(0,0,0,.50);
$placeholder: #A9A9A9;
$textbox-error: #800000;
$text-shadow: rgba(47,83,151,.10);
$theme-color: #50aadd;
$white: #FFFFFF;