@import './colors';
@import './mixins';

@include roboto-screen-font-face('Bold', 'Regular', 'Italic');

div,
span {
  @include font-smoothing;

  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $theme-color;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal; 
  font-variant-ligatures: normal; 
  font-variant-numeric: normal; 
  font-weight: lighter;
  line-height: 22px;
  margin: 0;
}

a {
  &,
  &:visited {
    color: white;
    cursor: pointer;
  }
}
