$mobile-width: 320px;
$mobile-height: 568px;
$mobile-tablet-overlap: 768px;
$tablet-desktop-overlap: 1024px;
$desktopsmall-desktophd-overlap: 1440px;

@mixin flex-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder { 
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin roboto-screen-font-face($suffixes...) {
  @each $suffix in $suffixes {
    @font-face {
      font-family: 'Roboto-' + $suffix;
      src: url('../static/fonts/Roboto-'+$suffix+'.ttf');
    }
  }
}

@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin mobile {
  @media only screen
    and (max-width: $mobile-tablet-overlap - 1) {
    @content;
  }
}

@mixin tablet {
  @media only screen
    and (min-width: $mobile-tablet-overlap)
    and (max-width: $tablet-desktop-overlap - 1) {
    @content;
  }
}

@mixin tablet-and-mobile {
  @media only screen
    and (max-width: $tablet-desktop-overlap - 1) {
    @content;
  }
}

@mixin desktop {
  @media screen
    and (min-width: $tablet-desktop-overlap) {
    @content;
  }
}

@mixin desktophd {
  @media screen
    and (min-width: $desktopsmall-desktophd-overlap) {
    @content;
  }
}

@mixin desktopsmall {
  @media screen
    and (min-width: $tablet-desktop-overlap)
    and (max-width: $desktopsmall-desktophd-overlap - 1) {
    @content;
  }
}