
@import '../../scss/colors';
@import '../../scss/mixins';

.text {
  color: $white;
  font-size: 12px;
  letter-spacing: 0;
  text-transform: uppercase;

  &.banner {
    color: $white;
  }

  &.label {
    font-size: 18px;
  }

  &.entry {
    color: $black;
  }
  
  &.team {
    font-size: 21px;
  }

  &.move {
    font-size: 15px;
    text-align: center;
  }

  &.result {
    font-size: 41px;
  }

  &.error {
    background-color: $theme-color;
    font-size: 20px;
    text-align: center;
  }
}