
@import '../../scss/colors';
@import '../../scss/mixins';

.text {
  color: $white;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 12px;
  
  letter-spacing: 0;
  text-transform: uppercase;
  
  &:focus {
    box-shadow:0 2px 4px 0 $button-shadow;
  }
  &.banner {
    color: $white;
  }

  &.label {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 18px;
  }

  &.entry {
    color: $black;
  }
  
  &.team {
    font-size: 21px;
  }

  &.move {
    font-size: 15px;
    text-align: center;
  }

  &.result {
    font-size: 41px;
  }

  &.error {
    background-color: $theme-color;
    font-family: 'Roboto-Italic';
    font-size: 20px;
    line-height: 5vh;
    text-align: center;
  }
}