
@import '../../scss/colors';
@import '../../scss/mixins';

.text {
  font-size: 12px;
  letter-spacing: 0;

  &.banner {
    color: $white
  }

  &.entry {
    color: $black;
  }
  
  &.team {
    color: $white;
    font-size: 21px;
  }

  &.move {
    color: $white;
    font-size: 15px;
    text-align: center;
  }

  &.result {
    color: $white;
    font-size: 41px;
  }
}