@import '../../scss/colors';
@import '../../scss/mixins';

.wrapper {
  border: 2px solid transparent;
  height: 50px;
  width: 250px;
  
  &.error {
    border-color: $textbox-error;
  }

  .textbox {
    box-sizing: border-box;
    font-size: 32px;
    height: 46px;
    outline: none;
    width: 246px;
    padding: 0 20px;
  }

}