
@import '../../scss/colors';
@import '../../scss/mixins';

.overlay {
  background-color: $theme-color;
  display: none;
  opacity: .9;
  padding-bottom: 30px;
  padding-top: 30px;
  position: absolute;
  width: 100%;
  z-index: 1;

  &.result.show {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 494px;
    justify-content: space-evenly;
    left: 0;
    top: 74px;   
  }
}