
@import '../../scss/colors';
@import '../../scss/mixins';

.overlay {
  background-color: $theme-color;
  display: none;
  opacity: .9;
  position: absolute;
  width: 100%;
  z-index: 1;

  &.result.show {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-evenly;
  }
}