@import '../../scss/colors';
@import '../../scss/mixins';

.start-page {
  @include flex-center;
  background-color: $theme-color;
  height: 100vh;
}

.elements-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-evenly;
}

.avatars-wrapper {
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-evenly;
  width: 26vh;
}

.button {
  height: 10vh;
}

.text {
  height: 10vh;
}

.avatar {
  height: 4vh;
}