@import '../../scss/colors';
@import '../../scss/mixins';

.header {
  background: $header-background;
  box-shadow: 0 0 4px 0 $header-shadow;
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.left {
  @include flex-center;
  width: 80px;

  @include desktop {
    width: 100px
  }
  
}

.right {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}